body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1290px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:87px;
  width:1190px;
  height:1050px;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:0px;
  width:150px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:30px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:0px;
  width:700px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:696px;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:120px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:40px;
  height:120px;
  text-align:left;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:36px;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:120px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:30px;
  width:100px;
  height:120px;
  text-align:left;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:96px;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:120px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:30px;
  width:150px;
  height:120px;
  text-align:left;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:146px;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:120px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:30px;
  width:700px;
  height:120px;
  color:#1E1E1E;
  text-align:left;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:696px;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:120px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:30px;
  width:100px;
  height:120px;
  text-align:left;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:120px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:30px;
  width:100px;
  height:120px;
  text-align:left;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:85px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:40px;
  height:85px;
  text-align:left;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:36px;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:85px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:150px;
  width:100px;
  height:85px;
  text-align:left;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:96px;
  word-wrap:break-word;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:85px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:150px;
  width:150px;
  height:85px;
  text-align:left;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:146px;
  word-wrap:break-word;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:85px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:150px;
  width:700px;
  height:85px;
  text-align:left;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:696px;
  word-wrap:break-word;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:85px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:150px;
  width:100px;
  height:85px;
  text-align:left;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:85px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:150px;
  width:100px;
  height:85px;
  text-align:left;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:95px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:235px;
  width:40px;
  height:95px;
  text-align:left;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:36px;
  word-wrap:break-word;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:95px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:235px;
  width:100px;
  height:95px;
  text-align:left;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:96px;
  word-wrap:break-word;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:95px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:235px;
  width:150px;
  height:95px;
  text-align:left;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:146px;
  word-wrap:break-word;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:95px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:235px;
  width:700px;
  height:95px;
  text-align:left;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:696px;
  word-wrap:break-word;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:95px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:235px;
  width:100px;
  height:95px;
  text-align:left;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:95px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:235px;
  width:100px;
  height:95px;
  text-align:left;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:330px;
  width:40px;
  height:50px;
  text-align:left;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:36px;
  word-wrap:break-word;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:330px;
  width:100px;
  height:50px;
  text-align:left;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:330px;
  width:150px;
  height:50px;
  text-align:left;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:146px;
  word-wrap:break-word;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:50px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:330px;
  width:700px;
  height:50px;
  text-align:left;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:696px;
  word-wrap:break-word;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:330px;
  width:100px;
  height:50px;
  text-align:left;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:330px;
  width:100px;
  height:50px;
  text-align:left;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:65px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:380px;
  width:40px;
  height:65px;
  text-align:left;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:36px;
  word-wrap:break-word;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:65px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:380px;
  width:100px;
  height:65px;
  text-align:left;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:65px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:380px;
  width:150px;
  height:65px;
  text-align:left;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:146px;
  word-wrap:break-word;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:65px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:380px;
  width:700px;
  height:65px;
  text-align:left;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:696px;
  word-wrap:break-word;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:65px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:380px;
  width:100px;
  height:65px;
  text-align:left;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:65px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:380px;
  width:100px;
  height:65px;
  text-align:left;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:60px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:445px;
  width:40px;
  height:60px;
  text-align:left;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:36px;
  word-wrap:break-word;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:445px;
  width:100px;
  height:60px;
  text-align:left;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:60px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:445px;
  width:150px;
  height:60px;
  text-align:left;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:146px;
  word-wrap:break-word;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:60px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:445px;
  width:700px;
  height:60px;
  text-align:left;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:696px;
  word-wrap:break-word;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:445px;
  width:100px;
  height:60px;
  text-align:left;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:445px;
  width:100px;
  height:60px;
  text-align:left;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:100px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:505px;
  width:40px;
  height:100px;
  text-align:left;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:36px;
  word-wrap:break-word;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:505px;
  width:100px;
  height:100px;
  text-align:left;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:505px;
  width:150px;
  height:100px;
  text-align:left;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:146px;
  word-wrap:break-word;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:100px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:505px;
  width:700px;
  height:100px;
  text-align:left;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:696px;
  word-wrap:break-word;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:505px;
  width:100px;
  height:100px;
  text-align:left;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:505px;
  width:100px;
  height:100px;
  text-align:left;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:100px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:605px;
  width:40px;
  height:100px;
  text-align:left;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:36px;
  word-wrap:break-word;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:605px;
  width:100px;
  height:100px;
  text-align:left;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:605px;
  width:150px;
  height:100px;
  text-align:left;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:146px;
  word-wrap:break-word;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:100px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:605px;
  width:700px;
  height:100px;
  text-align:left;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:696px;
  word-wrap:break-word;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:605px;
  width:100px;
  height:100px;
  text-align:left;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:605px;
  width:100px;
  height:100px;
  text-align:left;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:100px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:705px;
  width:40px;
  height:100px;
  text-align:left;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:36px;
  word-wrap:break-word;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:705px;
  width:100px;
  height:100px;
  text-align:left;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:705px;
  width:150px;
  height:100px;
  text-align:left;
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:146px;
  word-wrap:break-word;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:100px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:705px;
  width:700px;
  height:100px;
  text-align:left;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:696px;
  word-wrap:break-word;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:705px;
  width:100px;
  height:100px;
  text-align:left;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:705px;
  width:100px;
  height:100px;
  text-align:left;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:805px;
  width:40px;
  height:30px;
  text-align:left;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  word-wrap:break-word;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:805px;
  width:100px;
  height:30px;
  text-align:left;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:805px;
  width:150px;
  height:30px;
  text-align:left;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:30px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:805px;
  width:700px;
  height:30px;
  text-align:left;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:696px;
  word-wrap:break-word;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:805px;
  width:100px;
  height:30px;
  text-align:left;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:805px;
  width:100px;
  height:30px;
  text-align:left;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:65px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:835px;
  width:40px;
  height:65px;
  text-align:left;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:36px;
  word-wrap:break-word;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:65px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:835px;
  width:100px;
  height:65px;
  text-align:left;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:65px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:835px;
  width:150px;
  height:65px;
  text-align:left;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:146px;
  word-wrap:break-word;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:65px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:835px;
  width:700px;
  height:65px;
  text-align:left;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:696px;
  word-wrap:break-word;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:65px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:835px;
  width:100px;
  height:65px;
  text-align:left;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:65px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:835px;
  width:100px;
  height:65px;
  text-align:left;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:900px;
  width:40px;
  height:50px;
  text-align:left;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:36px;
  word-wrap:break-word;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:900px;
  width:100px;
  height:50px;
  text-align:left;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:900px;
  width:150px;
  height:50px;
  text-align:left;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:146px;
  word-wrap:break-word;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:50px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:900px;
  width:700px;
  height:50px;
  text-align:left;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:696px;
  word-wrap:break-word;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:900px;
  width:100px;
  height:50px;
  text-align:left;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:900px;
  width:100px;
  height:50px;
  text-align:left;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:950px;
  width:40px;
  height:50px;
  text-align:left;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:36px;
  word-wrap:break-word;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:950px;
  width:100px;
  height:50px;
  text-align:left;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:950px;
  width:150px;
  height:50px;
  text-align:left;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:146px;
  word-wrap:break-word;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:50px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:950px;
  width:700px;
  height:50px;
  text-align:left;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:696px;
  word-wrap:break-word;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:950px;
  width:100px;
  height:50px;
  text-align:left;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:950px;
  width:100px;
  height:50px;
  text-align:left;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:50px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1000px;
  width:40px;
  height:50px;
  text-align:left;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:36px;
  word-wrap:break-word;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:1000px;
  width:100px;
  height:50px;
  text-align:left;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:1000px;
  width:150px;
  height:50px;
  text-align:left;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:146px;
  word-wrap:break-word;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:50px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:1000px;
  width:700px;
  height:50px;
  text-align:left;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:990px;
  top:1000px;
  width:100px;
  height:50px;
  text-align:left;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:1000px;
  width:100px;
  height:50px;
  text-align:left;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:37px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:50px;
  width:1190px;
  height:37px;
  color:#FFFFFF;
  text-align:left;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:1186px;
  word-wrap:break-word;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:1239px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
